<section class="gallery-section">
  <h1 class="gallery-title">Galería de Fotos</h1>

  <h2 class="gallery-subtitle">Clases</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/equipo_ryhced.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/sanjo_icqz2h.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase_hcra4y.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/entrenar_iydenz.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/nina_iv7iu5.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase1_mzi2bi.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase1_ir3c1g.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase2_unyy5z.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/centauro_fi9tup.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase_dbmo0i.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/sanjose_mlorlu.jpg" alt="Foto de clase" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Exámenes de ascenso</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen2_xzost5.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen_larq8q.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/grupo_qjjhup.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen1_kqcsbq.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Examen3_nwxdt7.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/cinturones_vvbda6.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/calentamiento_zaxzld.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen4_cnjdcp.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen5_aftjle.jpg" alt="Foto de examenes" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Eventos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/coach_eo2v5r.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/grupo_t1wy4q.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/premio_v2wrmd.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/podio_nl0ojy.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/premio1_r8tnlo.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/podio2_rcjopj.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/podio1_vbrty8.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/poomsae_hb0u5h.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_kpyns5.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/infantil_mwmmgz.jpg" alt="Foto de evento" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Chequeos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/chequeo_zz0dka.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_oc2aw3.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Taekwondo_orlns9.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/chequeo_zzaaxv.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/chequeo_vce9nc.jpg" alt="Foto de chequeos" />
    </div>
  </div>
</section>