<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Grado/Cinturón</th>
      <th scope="col">Sede</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>José Rojas</th>
      <td data-label="Grado">Negro 7° dan</td>
      <td data-label="Sede">Villavicencio</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/MaestroJos%C3%A9_shee9c.jpg" alt="Noel Rojas" width="100"></td>
    </tr>
    <tr>
      <th>Leonardo Rojas</th>
      <td data-label="Grado">Negro 6° dan</td>
      <td data-label="Sede">Bogotá</td>
      <td data-label="Imagen"><img src="https://scontent-bog2-2.xx.fbcdn.net/v/t39.30808-6/285487229_10160108392218392_5446676776042174853_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=ut20DXbSa-YQ7kNvwGkG9lC&_nc_oc=AdnI7Ys7VRwKlJrPxFYTCpBCwbwIUeLdQDxpv9YMJYhF7OLVaEXVLCPADy_PB5GwPRc&_nc_zt=23&_nc_ht=scontent-bog2-2.xx&_nc_gid=8cxi15okFtyVwhmnvqZHEg&oh=00_AfNpH0DJPqXpgiw50c8X7U94_NmiDgXSyo7hOB8tEEnqkg&oe=6850E98B" alt="Leonardo Rojas" width="100" ></td>
    </tr>
    <tr>
      <th>Carlos Romero</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/leon.webp" alt="Carlos Romero" width="100"></td>
    </tr>
    <tr>
      <th>Santiago Tibacuy</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/leon.webp" alt="Santiago Tibacuy" width="100"></td>
    </tr>
    <tr>
      <th>Diego Vaca</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/diego_ychgdd.jpg" alt="Diego Vaca" width="100"></td>
    </tr>
    <tr>
      <th>Kevin Correal</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/Kevin_mqpvvo.jpg" alt="Kevin Correal" width="100"></td>
    </tr>
    <tr>
      <th>Santiago Angarita</th>
      <td data-label="Grado">Franja negro</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/leon.webp" alt="Santiago Angarita" width="100"></td>
    </tr>
    <tr>
      <th>Giovanna Rincón</th>
      <td data-label="Grado">Rojo</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/Gio_oi9z3b.jpg" alt="Giovanna Rincon" width="100"></td>
    </tr>
  </tbody>
</table>