<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Grado/Cinturón</th>
      <th scope="col">Sede</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>José Rojas</th>
      <td data-label="Grado">Negro 7° dan</td>
      <td data-label="Sede">Villavicencio</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/MaestroJos%C3%A9_shee9c.jpg" alt="Noel Rojas" width="100"></td>
    </tr>
    <tr>
      <th>Leonardo Rojas</th>
      <td data-label="Grado">Negro 6° dan</td>
      <td data-label="Sede">Bogotá</td>
      <td data-label="Imagen"><img src="assets/Logos/logo.webp" alt="Leonardo Rojas" width="100" ></td>
    </tr>
    <tr>
      <th>Carlos Romero</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/logo.webp" alt="Carlos Romero" width="100"></td>
    </tr>
    <tr>
      <th>Santiago Tibacuy</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/logo.webp" alt="Santiago Tibacuy" width="100"></td>
    </tr>
    <tr>
      <th>Diego Vaca</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/diego_ychgdd.jpg" alt="Diego Vaca" width="100"></td>
    </tr>
    <tr>
      <th>Kevin Correal</th>
      <td data-label="Grado">Negro 2° dan</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Kevin_mqpvvo.jpg" alt="Kevin Correal" width="100"></td>
    </tr>
    <tr>
      <th>Santiago Angarita</th>
      <td data-label="Grado">Franja negro</td>
      <td data-label="Sede">Bogotá, Primavera</td>
      <td data-label="Imagen"><img src="assets/Logos/logo.webp" alt="Santiago Angarita" width="100"></td>
    </tr>
    <tr>
      <th>Giovanna Rincón</th>
      <td data-label="Grado">Rojo</td>
      <td data-label="Sede">Bogotá, San José</td>
      <td data-label="Imagen"><img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Gio_oi9z3b.jpg" alt="Giovanna Rincon" width="100"></td>
    </tr>
  </tbody>
</table>