<!-- Sección principal que describe Mundo Marcial -->
<section class="about-section">
  <div class="about-container">
      <!-- Columna de texto descriptivo -->
      <div class="about-text">
        <!-- Título de la sección -->
        <h2 class="about-title">¿Qué es Mundo Marcial Taekwondo?</h2>
        <!-- Descripción -->
        <p class="about-description">
          La familia Mundo Marcial es una escuela de Taekwondo y formación deportiva WT, con presencia en las ciudades de Bogotá y Villavicencio. Es una entidad privada que promueve y se especializa en el desarrollo y fortalecimiento de habilidades motoras y cognitivas en niños, jóvenes y adultos, a través de la práctica del Taekwondo y la defensa personal. <br> Nuestro objetivo es impulsar el entrenamiento deportivo en los jóvenes y fomentar la disciplina. Contamos con un programa de gran impacto, que contribuye al desarrollo integral de los estudiantes y promueve la construcción de un mejor tejido social. Además, implementamos un plan de actividades físico-deportivas y recreativas que permite a los participantes hacer un uso adecuado del tiempo libre mediante prácticas sanas, activas y variadas. Con nosotros obtienes:
        </p>
        <!-- Lista de características principales -->
        <ul class="about-features">
          <li><i class="fas fa-splotch"></i> Disciplina</li>
          <li><i class="fas fa-solid fa-trophy"></i> Confianza</li>
          <li><i class="fas fa-light fa-shapes"></i> Coordinación</li>
          <li><i class="fas fa-light fa-handshake-simple"></i> Respeto</li>
          <li><i class="fas fa-hand-fist"></i> Defensa personal</li>
          <li><i class="fas fa-ranking-star"></i> Logros deportivos</li>
          <li><i class="fas fa-light fa-award"></i> Taekwondo</li>
        </ul>
      </div>

      <!-- Columna de imagen de logo -->
      <div class="about-image">
        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/leon_q3fdlj.png" alt="Logo MM" draggable="false"/>
        <button type="button" class="btn rounded-pill" routerLink="/academia">Conoce nuestra academia <i class="fa-solid fa-arrow-right"></i></button>
      </div>

      <div class="about-contact">
      <!-- Texto para inscripción -->
        <div class="about-text">
          <!-- Título de la sección -->
          <h2 class="about-title">¿Estás listo para dar el primer paso? <br> ¡Únete a la familia mundo marcial!</h2>
          <!-- Descripción -->
          <p class="about-description">
            Llena el formulario de preinscripción y contáctanos para recibir más información.
          </p>
          <p class="about-description">
            <a href="https://forms.gle/kRT7bjLXZo63kB3Z6" target="_blank" aria-label="Form"><i class="fa-solid fa-user-plus"></i></a>  Formulario de preinscripción Bogotá.<br>
            <a href="https://forms.gle/c46M68DiR9FAGtkQA" target="_blank" aria-label="Form"><i class="fa-solid fa-user-plus"></i></a>  Formulario de preinscripción Villavicencio. <br><br>
            <a href="https://wa.me/573183544849" target="_blank" aria-label="WhatsApp"><i class="fa-solid fa-phone"></i></a>  +57 3183544849 Maestro Leonardo Rojas, Bogotá.<br>
            <a href="https://wa.me/573212119462" target="_blank" aria-label="WhatsApp"><i class="fa-solid fa-phone"></i></a>  +57 3212119462 Maestro José Noel Rojas, Villavicencio.
          </p>
        </div>
      </div>
  </div>
</section>