<footer class="main-footer">
  <div class="footer-container">
    <!-- Columna: Logo -->
    <div class="footer-col footer-logo-col">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/logo_qvvtvi.png" alt="Logo MM" class="footer-logo" draggable="false" style="user-select: none;">
      <div class="footer-contact">
        <strong>Contactanos</strong> <br>
        <strong>+57 3183544849 Leonardo Rojas</strong>
      </div>
      <div class="footer-contact">
        <strong>+57 3212119462 José Noel Rojas</strong>
      </div>
    </div>

    <!-- Columna: Información de sedes y contacto -->
    <div class="footer-col">
      <div class="footer-branch">
        <span>Sede principal</span>
        <p>Carrera 41a #4-20 segundo piso<br>Bogotá, Colombia</p>
      </div>
      <div class="footer-branch">
        <span>Sede San José S.O</span>
        <p>Calle 42 sur #8a-28<br>Bogotá, Colombia</p>
      </div>
      <div class="footer-branch">
        <span>Sede principal</span>
        <p>Av Catama Calle 35 #20-154 segundo piso<br>Villavicencio, Colombia</p>
      </div>
    </div>

    <!-- Columna de redes sociales -->
    <div class="footer-col footer-cert-social">
        <div class="footer-social">
            <span>Redes sociales Bogotá</span>
            <div class="social-icons">
            <!-- Íconos de redes sociales -->
            <a href="https://www.facebook.com/profile.php?id=100063633095347" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/taekwondomundomarcialbog?utm_source=qr&igsh=c3ZtNWMyMjd0bGpl" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@taekwondomundomarcialbog?_t=ZS-8x999YiqfRp&_r=1" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
        <div class="footer-social">
            <span>Redes sociales Villavicencio</span>
            <div class="social-icons">
            <!-- Íconos de redes sociales -->
            <a href="https://www.facebook.com/p/Mundo-Marcial-Villavicencio-100063638317709/?locale=es_LA" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/mundomarcialvillavicencio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@mundomarcialvilla?_t=ZS-8x99HRCCG0G&_r=1" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>
  </div>

  <!-- Información legal y derechos reservados -->
  <div class="footer-bottom">
    <div>
      <p>Academia Mundo Marcial Taekwondo</p>
    </div>
    <div>
      <p>Mundo Marcial 2025 ©<br>TODOS LOS DERECHOS RESERVADOS</p>
    </div>
  </div>
</footer>