<section>
    <h2>¿Dónde estamos ubicados?</h2>
    <!-- Texto y mapas de ubicación -->
    <div class="map-container">
        <div class="about-text">
            <p class="about-description">
                Contamos con dos sedes en Bogotá y una en Villavicencio. Encuentra la ubicación de cada una a
                continuación:
            </p>
        </div>

        <!-- Contenedor de sedes -->
        <div class="about-locations">
            <!-- Sede Primavera -->
            <div class="location-card">
                <h3 class="location-title">Sede Primavera</h3>
                <p class="location-description">
                    Carrera 41a #4-20 segundo piso, Bogotá.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8877492709994!2d-74.11332942462836!3d4.614102995360573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f994a50d1a949%3A0x1eb5dd392a7fd827!2sTaekwondo%20Mundo%20Marcial!5e0!3m2!1ses-419!2sco!4v1749944989246!5m2!1ses-419!2sco"
                    loading="lazy" class="location-map" allowfullscreen>
                </iframe>
            </div>
            <!-- Sede San José -->
            <div class="location-card">
                <h3 class="location-title">Sede San José S.O</h3>
                <p class="location-description">
                    Calle 42 sur #8a-28, Bogotá.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.578762683744!2d-74.08870218015501!3d4.547129456200412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa27801a9b08b%3A0xe250f5b92f0579d5!2sCl.%2042%20Sur%20%238A-28%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1751056926062!5m2!1ses-419!2sco"
                    loading="lazy" class="location-map" allowfullscreen>
                </iframe>
            </div>
            <!-- Sede Villavicencio -->
            <div class="location-card">
                <h3 class="location-title">Sede Villavicencio</h3>
                <p class="location-description">
                    Av Catama, Calle 35 #20-154 segundo piso, Villavicencio.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.0972079454733!2d-73.62325617956913!3d4.148199552850464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2ddb9e838993%3A0xb8376fb087f2db18!2sCl.%2035%20%23%2020-154%2C%20Villavicencio%2C%20Meta!5e0!3m2!1ses-419!2sco!4v1749945076729!5m2!1ses-419!2sco"
                    loading="lazy" class="location-map" allowfullscreen>
                </iframe>
            </div>
        </div>
        <p>¿No ves bien los mapas? Intenta recargar la página.</p>
    </div>
</section>