/* Estilos generales del componente */
section {
  border-bottom: 2px solid var(--color-border);
}

h2 {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin: 2rem;
}

p {
  color: var(--color-text);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 2;
  text-align: center;
  padding: 1rem;
}

/* Estilos para la seccion de ubicaciones */
.about-locations {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.location-card {
  background: whitesmoke;
  border-radius: 18px;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.10);
  padding: 1.5rem;
  max-width: 350px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  border: var(--color-border) 0.5px solid;
}

.location-title {
  font-size: 1.5rem;
  color: var(--color-danger);
  margin-bottom: 1rem;
}

.location-description {
  font-size: 1rem;
  color: var(--color-border);
  margin-bottom: 1rem;
}

.location-link {
  color: var(--color-primary);
  font-weight: 600;
}

.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(29, 29, 29, 0.18), 0 2px 8px rgba(44, 44, 44, 0.12);
}

.location-map {
  max-width: 350px;
  width: 100%;
  height: 200px;
  border-radius: 18px;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.10);
  border: none;
}

@media (max-width: 900px) {
  .about-locations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    padding: 1em;
  }

  .location-card {
    margin: 0 auto;
    padding: 1rem;
    max-width: 100%;
  }

  .location-map {
    width: 100%;
    height: 200px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .about-locations {
    margin-top: 0.5rem;
    gap: 0.5rem;
  }

  .location-card {
    margin: 0 auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

  .location-map {
    height: 100%;
    height: 180px;
    margin: 0;
  }
}