<!-- Sección principal que describe Mundo Marcial -->
<section class="about-section">
  <div class="about-container">
      <!-- Columna de texto descriptivo -->
      <div class="about-text">
        <!-- Título de la sección -->
        <h2 class="about-title">¿Qué es Mundo Marcial Taekwondo?</h2>
        <!-- Descripción -->
        <p class="about-description">
          La familia Mundo Marcial es una escuela de Taekwondo y formación deportiva WT, con presencia en las ciudades de Bogotá y Villavicencio. Es una entidad privada que promueve y se especializa en el desarrollo y fortalecimiento de habilidades motoras y cognitivas en niños, jóvenes y adultos, a través de la práctica del Taekwondo y la defensa personal. <br> Nuestro objetivo es impulsar el entrenamiento deportivo en los jóvenes y fomentar la disciplina. Contamos con un programa de gran impacto, que contribuye al desarrollo integral de los estudiantes y promueve la construcción de un mejor tejido social. Además, implementamos un plan de actividades físico-deportivas y recreativas que permite a los participantes hacer un uso adecuado del tiempo libre mediante prácticas sanas, activas y variadas. Con nosotros obtienes:
        </p>
        <!-- Lista de características principales -->
        <ul class="about-features">
          <li><i class="fas fa-trophy"></i> Disciplina</li>
          <li><i class="fas fa-solid fa-star"></i> Confianza</li>
          <li><i class="fas fa-light fa-gear"></i> Coordinación</li>
          <li><i class="fas fa-light fa-handshake-simple"></i> Respeto</li>
          <li><i class="fas fa-hand-fist"></i> Defensa personal</li>
          <li><i class="fas fa-ranking-star"></i> Logros deportivos</li>
          <li><i class="fas fa-light fa-fire-flame-curved"></i> Taekwondo</li>
        </ul>
      </div>
      <!-- Columna de imagen de logo -->
      <div class="about-image">
        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/leon_q3fdlj.png" alt="Logo MM" draggable="false"/>
      </div>
      <!-- Texto y mapas de ubicación -->
      <div class="map-container">
        <div class="about-text">
          <h2 class="about-title">¿Dónde estamos ubicados?</h2>
          <p class="about-description">
            Contamos con dos sedes en Bogotá y una en Villavicencio. Encuentra la ubicación de cada una a continuación:
          </p>
        </div>
        
        <!-- Contenedor de sedes -->
        <div class="about-locations">
          <!-- Sede Primavera -->
          <div class="location-card">
            <h3 class="location-title">Sede Primavera</h3>
            <p class="location-description">
              Carrera 41a #4-20 segundo piso, Bogotá.
            </p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8877492709994!2d-74.11332942462836!3d4.614102995360573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f994a50d1a949%3A0x1eb5dd392a7fd827!2sTaekwondo%20Mundo%20Marcial!5e0!3m2!1ses-419!2sco!4v1749944989246!5m2!1ses-419!2sco"
              class="location-map" 
              allowfullscreen>
            </iframe>
          </div>
          <!-- Sede San José -->
          <div class="location-card">
            <h3 class="location-title">Sede San José S.O</h3>
            <p class="location-description">
              Calle 42 sur #8a-28, Bogotá.
            </p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.578762683744!2d-74.08870218015501!3d4.547129456200412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa27801a9b08b%3A0xe250f5b92f0579d5!2sCl.%2042%20Sur%20%238A-28%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1751056926062!5m2!1ses-419!2sco"
              class="location-map" 
              allowfullscreen>
            </iframe>
          </div>
          <!-- Sede Villavicencio -->
          <div class="location-card">
            <h3 class="location-title">Sede Villavicencio</h3>
            <p class="location-description">
              Av Catama, Calle 35 #20-154 segundo piso, Villavicencio.
            </p>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.0972079454733!2d-73.62325617956913!3d4.148199552850464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2ddb9e838993%3A0xb8376fb087f2db18!2sCl.%2035%20%23%2020-154%2C%20Villavicencio%2C%20Meta!5e0!3m2!1ses-419!2sco!4v1749945076729!5m2!1ses-419!2sco"
              class="location-map" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <p>¿No ves bien los mapas? Intenta recargar la página.</p>
    </div>
      <!-- Texto para inscripción -->
        <div class="about-text">
          <!-- Título de la sección -->
          <h2 class="about-title">¿Estás listo para dar el primer paso? <br> ¡Únete a la familia mundo marcial!</h2>
          <!-- Descripción -->
          <p class="about-description">
            Llena el formulario de preinscripción y contáctanos para recibir más información.
          </p>
          <p class="about-description">
            <a href="https://forms.gle/kRT7bjLXZo63kB3Z6" target="_blank" aria-label="Form"><i class="fa-solid fa-user-plus"></i></a>  Formulario de preinscripción Bogotá.<br>
            <a href="https://forms.gle/c46M68DiR9FAGtkQA" target="_blank" aria-label="Form"><i class="fa-solid fa-user-plus"></i></a>  Formulario de preinscripción Villavicencio. <br><br>
            <a href="https://wa.me/573183544849" target="_blank" aria-label="WhatsApp"><i class="fa-solid fa-phone"></i></a>  +57 3183544849 Maestro Leonardo Rojas, Bogotá.<br>
            <a href="https://wa.me/573212119462" target="_blank" aria-label="WhatsApp"><i class="fa-solid fa-phone"></i></a>  +57 3212119462 Maestro José Noel Rojas, Villavicencio.
          </p>
        </div>
  </div>
</section>