/* Estilos generales del componente */
section {
  border-bottom: 2px solid var(--color-border);
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h2 {
  margin-top: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
  margin: 2rem;
}

p {
  color: var(--color-text);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 2;
  text-align: center;
  padding: 1rem;
}

/* Estilos para la seccion de instructores */
.table-instructores {
  margin: 1rem auto;
  width: 85%;
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  margin-bottom: 2rem;
  transition: box-shadow 0.5s;
}

.table-instructores:hover {
  box-shadow: 0 8px 24px rgba(29, 29, 29, 0.18), 0 2px 8px rgba(44, 44, 44, 0.12);
}

.table-instructores th,
.table-instructores td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  vertical-align: middle;
  font-weight: 400;
}

.table-instructores th {
  background-color: #cfcfcf;
  font-weight: 700;
}

/* Estilos responsivos */
@media (max-width: 576px) {
  .table-instructores {
    width: 90%;
    border-collapse: collapse;
    padding: 1rem;
  }

  .table-instructores thead {
    display: none;
    /* Evita que se vea en la parte superior el encabezado de la tabla */
  }

  .table-instructores th,
  .table-instructores td {
    font-size: 1rem;
    padding: 0.5rem;
    display: flex;
    text-align: left;
  }

  .table-instructores td {
    position: relative;
    padding-left: 5rem;
  }

  .table-instructores td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    color: #333;
  }

  .table-instructores img {
    max-height: 300px;
    max-width: 100%;
    height: auto;
    align-content: start;
    margin: 0 auto;
  }
}