<section>
    <!-- Instructores -->
    <h2>Conoce a nuestros instructores</h2>
    <table class="table-instructores table-bordered">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Grado/Cinturón</th>
                <th scope="col">Sede</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Maestro José Noel Rojas</th>
                <td data-label="Grado">Negro 7° dan</td>
                <td data-label="Sede">Villavicencio</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/MaestroJos%C3%A9_xzwvim.jpg"
                        alt="Noel Rojas" width="100"></td>
            </tr>
            <tr>
                <th>Maestro Leonardo Rojas</th>
                <td data-label="Grado">Negro 6° dan</td>
                <td data-label="Sede">Bogotá</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/MaestroLeonardo_frflwq.jpg"
                        alt="Leonardo Rojas" width="100"></td>
            </tr>
            <tr>
                <th>Carlos Romero</th>
                <td data-label="Grado">Negro 2° dan</td>
                <td data-label="Sede">Bogotá, Primavera</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/carlos_wmvapq.jpg"
                        alt="Carlos Romero" width="100"></td>
            </tr>
            <tr>
                <th>Santiago Tibacuy</th>
                <td data-label="Grado">Negro 2° dan</td>
                <td data-label="Sede">Bogotá, Primavera</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/santiago_jvhn95.jpg"
                        alt="Santiago Tibacuy" width="100"></td>
            </tr>
            <tr>
                <th>Diego Vaca</th>
                <td data-label="Grado">Negro 2° dan</td>
                <td data-label="Sede">Bogotá, San José</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Diego_kmzpgd.jpg"
                        alt="Diego Vaca" width="100"></td>
            </tr>
            <tr>
                <th>Kevin Correal</th>
                <td data-label="Grado">Negro 2° dan</td>
                <td data-label="Sede">Bogotá, San José</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Kevin_utxdwu.jpg"
                        alt="Kevin Correal" width="100"></td>
            </tr>
            <tr>
                <th>Giovanna Rincón</th>
                <td data-label="Grado">Negro 1° dan</td>
                <td data-label="Sede">Bogotá, San José</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Gio_tqoc7s.jpg"
                        alt="Giovanna Rincon" width="100"></td>
            </tr>
            <tr>
                <th>Santiago Angarita</th>
                <td data-label="Grado">Negro 1° dan</td>
                <td data-label="Sede">Bogotá, Primavera</td>
                <td data-label="Imagen"><img
                        src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Angarita_nckzbs.jpg"
                        alt="Santiago Angarita" width="100"></td>
            </tr>
        </tbody>
    </table>
</section>