<section class="gallery-section">
  <h1 class="gallery-title">Galería de Fotos</h1>

  <h2 class="gallery-subtitle">Exámenes de ascenso</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen_larq8q.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/grupo_qjjhup.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen2_xzost5.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen1_kqcsbq.jpg" alt="Foto de examenes" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Chequeos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_oc2aw3.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Taekwondo_orlns9.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/bogota_f5r2ma.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/chequeo_vce9nc.jpg" alt="Foto de chequeos" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Eventos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/eventos_jfum4o.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/coach_oxz0pj.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/entrenamiento_oq5evd.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_1_pweuxx.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/pantera_enfcvf.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/evento1_bk5vek.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/hallowen_y7aey6.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/hallowen1_awsirw.jpg" alt="Foto de evento" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Clases</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/equipo_ryhced.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase_hcra4y.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/entrenar_iydenz.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/nina_iv7iu5.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/clase1_ir3c1g.jpg" alt="Foto de clase" />
    </div>
  </div>
</section>