<section class="gallery-section">
  <h1 class="gallery-title">Galería de Fotos</h1>

  <h2 class="gallery-subtitle">Exámenes de ascenso</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/examen_larq8q.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/grupo_qjjhup.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/examen2_xzost5.jpg" alt="Foto de examenes" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/examen1_kqcsbq.jpg" alt="Foto de examenes" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Chequeos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/combate_oc2aw3.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/Taekwondo_orlns9.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/bogota_f5r2ma.jpg" alt="Foto de chequeos" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/chequeo_vce9nc.jpg" alt="Foto de chequeos" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Eventos</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/eventos_jfum4o.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/coach_oxz0pj.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/entrenamiento_oq5evd.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/combate_1_pweuxx.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/pantera_enfcvf.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/evento1_bk5vek.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/hallowen_y7aey6.jpg" alt="Foto de evento" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/hallowen1_awsirw.jpg" alt="Foto de evento" />
    </div>
  </div>

  <h2 class="gallery-subtitle">Clases</h2>
  <div class="gallery">
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/equipo_ryhced.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/clase_hcra4y.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/entrenar_iydenz.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/nina_iv7iu5.jpg" alt="Foto de clase" />
    </div>
    <div class="gallery-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/clase1_ir3c1g.jpg" alt="Foto de clase" />
    </div>
  </div>
</section>