img {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gallery {
    align-content: center;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    /* 4 columnas por defecto */
    border-bottom: 2px solid var(--color-border);
    /* Línea divisora inferior */
    padding-bottom: 1rem;
    /* Espacio debajo de la imagen */
}

.gallery-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #000000;
    text-align: center;
    background-color: rgb(212, 183, 145);
}

.gallery-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1.5rem 0;
    color: var(--color-bg-dark);
    text-align: center;
}

.gallery-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 320px;
    /* Tamaño uniforme para las imágenes */
    object-fit: cover;
    /* Ajusta la imagen para que se recorte y mantenga proporciones */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item:hover {
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(29, 29, 29, 0.18), 0 2px 8px rgba(44, 44, 44, 0.12);
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas */
    }

    .gallery-item img {
        height: 230px;
    }
}

/* Media query para pantallas de 430px o menos */
@media (max-width: 430px) {
    .gallery {
        grid-template-columns: 1fr;
        /* 1 columna */
    }

    .gallery-item img {
        height: 200px;
    }
}