<section class="event-list-section">
  <div class="event-list-container">
    <h2>¡Participa con nosotros en eventos deportivos!</h2>
    <div class="event-grid">
      <!-- Tarjeta 1 -->
      <div class="event-card">
        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/eventoCopa_rtfmmj.jpg" class="event-image" alt="Copa" loading="lazy">
        <div class="event-info">
          <h5 class="event-name">Torneo: Copa ciudad de Bogotá 2025</h5>
            <p>
              La Copa Ciudad de Bogotá Taekwondo 2025 es un torneo de artes marciales organizado por la Liga de Taekwondo de Bogotá, con el respaldo del Instituto Distrital de Recreación y Deporte (IDRD). Este campeonato, de carácter distrital, nacional e internacional, incluye las modalidades de combate, poomsae y freestyle, en diversas categorías de edad: Infantil, Cadete, Júnior, Mayores y Sénior; así como en diferentes niveles de cinturón: principiantes, avanzados y cinturón negro. ¡Te invitamos a representar a la academia Mundo Marcial!<br> 
              <span class="fa-solid fa-calendar-days"></span> Fecha: Del 29 de julio al 03 de agosto de 2025 <br>
              <span class="fa-solid fa-thumbtack"></span> Lugar: Palacio de los Deportes, Bogotá
            </p>
          </div>
        </div>
      </div>
    </div>
</section>