<section class="event-list-section">
  <div class="event-list-container">
    <h2>¡Participa con nosotros en eventos deportivos!</h2>
    <div class="event-grid">
      <!-- Tarjeta 1 -->
      <div class="event-card">
        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/medallas_bhase4.jpg" class="event-image" alt="Copa">
        <div class="event-info">
          <h5 class="event-name">Medalleria de la Copa Ciudad de Bogotá</h5>
            <p>
              Durante el evento de la Copa Ciudad de Bogotá, nuestros atletas obtuvieron los siguientes premios: <br>
              1 medalla de oro 🥇 <br>
              3 medallas de plata 🥈🥈🥈 <br>
              5 de bronce 🥉🥉🥉🥉🥉
            </p>
          </div>
        </div>

      <!-- Tarjeta 2 -->
      <div class="event-card">
        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/logo_qvvtvi.png" class="event-image" alt="Copa">
        <div class="event-info">
          <h5 class="event-name">Aún no hay eventos en agenda</h5>
            <p>
              Muy pronto estaremos compartiendo nuevas fechas, ¡no te las pierdas!
            </p>
          </div>
        </div>
      </div>
    </div>
</section>