<!-- Horarios -->
<section>
    <h2>Horarios de clases</h2>
    <div class="horarios-container">
        <div class="horario-card">
            <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede Primavera, Bogotá</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Clase</th>
                        <th scope="col">Día(s)</th>
                        <th scope="col">Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Preinfantil (4 a 6 años)</th>
                        <td data-label="Días">Lunes y Miércoles</td>
                        <td data-label="Horario">4:30pm a 5:40pm</td>
                    </tr>
                    <tr>
                        <th>Infanti-Precadetes (7 a 11 años)</th>
                        <td data-label="Días">Lunes y Miércoles</td>
                        <td data-label="Horario">6:00pm a 7:20pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Días">Lunes y Miércoles</td>
                        <td data-label="Horario">7:30pm a 8:50pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Días">Martes y Viernes</td>
                        <td data-label="Horario">7:30pm a 8:50pm</td>
                    </tr>
                    <tr>
                        <th>Preinfantil (4 a 6 años)</th>
                        <td data-label="Día">Sábado</td>
                        <td data-label="Horario">9:00am a 10:00am</td>
                    </tr>
                    <tr>
                        <th>Infanti-Precadetes (7 a 11 años)</th>
                        <td data-label="Día">Sábado</td>
                        <td data-label="Horario">10:00am a 11:20am</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Día">Domingo</td>
                        <td data-label="Horario">10:00am a 11:30am</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="horario-card">
            <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede Villavicencio</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Clase</th>
                        <th scope="col">Día(s)</th>
                        <th scope="col">Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Preinfantil (4 a 6 años)</th>
                        <td data-label="Días">Martes y Jueves</td>
                        <td data-label="Horario">3:30pm a 4:30pm</td>
                    </tr>
                    <tr>
                        <th>Infanti-Precadetes (7 a 11 años)</th>
                        <td data-label="Días">Martes y Jueves</td>
                        <td data-label="Horario">5:00pm a 6:00pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Días">Martes y Jueves</td>
                        <td data-label="Horario">6:30pm a 7:30pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Días">Lunes, Miércoles y Viernes</td>
                        <td data-label="Horario">5:00pm a 6:30pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Día">Sábados</td>
                        <td data-label="Horario">11:00am a 12:30am</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="horario-card">
            <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede San José S.O, Bogotá</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Clase</th>
                        <th scope="col">Día</th>
                        <th scope="col">Horario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Infantil-Precadetes (4 a 11 años)</th>
                        <td data-label="Día">Jueves</td>
                        <td data-label="Horario">4:20pm a 5:40pm</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Día">Jueves</td>
                        <td data-label="Horario">5:40pm a 7:00pm</td>
                    </tr>
                    <tr>
                        <th>Infantil-Precadetes (4 a 11 años)</th>
                        <td data-label="Día">Sábado</td>
                        <td data-label="Horario">9:00am a 10:20am</td>
                    </tr>
                    <tr>
                        <th>Cadetes-Mayores (12 años en adelante)</th>
                        <td data-label="Día">Sábado</td>
                        <td data-label="Horario">10:20am a 11:40am</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>