<div id="carouselMundoMarcial" class="carousel slide" data-bs-ride="carousel" data-bs-interval="8000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_1_pweuxx.jpg" class="d-block w-100" alt="combate">
      <div class="carousel-caption-bottom">
        <h4>Entrena con los mejores</h4>
        <p>En Mundo Marcial puedes encontrar los mejores instructores</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/examen_larq8q.jpg" class="d-block w-100" alt="Competencia">
      <div class="carousel-caption">
        <h4>Crea nuevas experiencias y participa en competencias</h4>
        <p>En Mundo Marcial generas conexiones con otros deportistas y ganas reconocimientos</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/bogota_f5r2ma.jpg" class="d-block w-100" alt="Sede bogotá">
      <div class="carousel-caption">
        <h4>Sede Bogotá</h4>
        <p>Contamos con dos sedes en Bogotá, únete a esta gran familia</p>
        <a href="https://forms.gle/kRT7bjLXZo63kB3Z6" target="_blank" class="btn btn-outline-light btn-lg rounded border-white">Inscríbete →</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/grupo_qjjhup.jpg" class="d-block w-100" alt="Sede Villavicencio">
      <div class="carousel-caption">
        <h4>Sede Villavicencio</h4>
        <p>Contamos con una sede en Villavicencio, únete a esta gran familia</p>
        <a href="https://forms.gle/c46M68DiR9FAGtkQA" target="_blank" class="btn btn-outline-light btn-lg rounded border-white">Inscríbete →</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Ecole_bv7w0j.jpg" class="d-block w-100" alt="alianzas">
      <div class="carousel-caption">
        <h4>Alianza con colegios</h4>
        <p>Contamos con alianza en los colegios 'Ecole Granandino' y <br> 'Chiquillos creativos' en la ciudad de Bogotá</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Ecole_bv7w0j.jpg" class="d-block w-100" alt="alianzas">
      <div class="carousel-caption">
        <h4>Alianza con colegios</h4>
        <p>Contamos con alianza en los colegios 'Ciudad Educadora Espíritu Santo. Sede Pineja.', 'Gimnasio los alcázares' y 'Colegio Militar Jose Antonio Paez.' en la ciudad de Villavicencio</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/combate_oc2aw3.jpg" class="d-block w-100" alt="combate">
      <div class="carousel-caption">
        <h4>Eventos deportivos</h4>
        <p>En Mundo Marcial puedes participar en eventos deportivos y vacacionales</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMundoMarcial" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>