<!-- Sección principal que describe Mundo Marcial -->
<section class="about-section">
  <div class="about-container">
    <!-- Columna de texto descriptivo -->
    <div class="about-text">
      <!-- Título de la sección -->
      <h2 class="about-title">¿Qué es Mundo Marcial Taekwondo?</h2>
      <!-- Descripción -->
      <p class="about-description">
        La familia Mundo Marcial es mucho más que una escuela de Taekwondo: es un espacio donde niños, jóvenes y adultos
        encuentran disciplina, crecimiento y motivación. Con presencia en Bogotá y Villavicencio, nos especializamos en
        potenciar las habilidades físicas, cognitivas y emocionales a través del Taekwondo y la defensa personal.
        <br>Nuestro objetivo es formar personas con carácter, confianza y disciplina, impulsando a cada estudiante a
        alcanzar su máximo potencial. Con programas diseñados para generar un impacto positivo, promovemos el desarrollo
        integral y la construcción de un mejor tejido social. Además, ofrecemos actividades físico-deportivas y
        recreativas que transforman el tiempo libre en experiencias sanas, dinámicas y enriquecedoras. ¡Ven y haz parte
        de Mundo Marcial, una familia que crece contigo dentro y fuera del Dojang! <br>
        Con nosotros obtienes:
      </p>
      <!-- Lista de características principales -->
      <ul class="about-features">
        <li><i class="fas fa-splotch"></i> Disciplina</li>
        <li><i class="fas fa-solid fa-trophy"></i> Confianza</li>
        <li><i class="fas fa-light fa-shapes"></i> Coordinación</li>
        <li><i class="fas fa-light fa-handshake-simple"></i> Respeto</li>
        <li><i class="fas fa-hand-fist"></i> Defensa personal</li>
        <li><i class="fas fa-ranking-star"></i> Logros deportivos</li>
        <li><i class="fas fa-light fa-award"></i> Taekwondo</li>
      </ul>
    </div>

    <!-- Columna de imagen de logo -->
    <div class="about-image">
      <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/leon_q3fdlj.png" alt="Logo MM"
        draggable="false" />
      <button type="button" class="btn rounded-pill" routerLink="/academia">Conoce nuestra academia <i
          class="fa-solid fa-arrow-right"></i></button>
    </div>

    <!-- Texto para inscripción -->
    <div class="about-contact">
      <div class="about-text">
        <h2 class="about-title">¿Quieres dar el primer paso hacia tu mejor versión? <br> ¡Únete a la familia Mundo
          Marcial!</h2>
        <p class="about-description">
          Llena el formulario de preinscripción y contáctanos para recibir más información.
        </p>
        <div class="row">
          <div class="col-sm-6">
            <div class="card rounded-pill bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Formularios de preinscripción</h5>
                <p class="card-text text-center"><a href="https://forms.gle/kRT7bjLXZo63kB3Z6" class="about-link"
                    target="_blank"><i class="fa-solid fa-user-plus"></i>Formulario de preinscripción Bogotá.</a></p>
                <p class="card-text text-center"><a href="https://forms.gle/c46M68DiR9FAGtkQA" class="about-link"
                    target="_blank"><i class="fa-solid fa-user-plus"></i>Formulario de preinscripción
                    Villavicencio.</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card rounded-pill bg-light mb-3">
              <div class="card-body">
                <h5 class="card-title text-center">Contacto</h5>
                <p class="card-text text-center"><a
                    href="https://api.whatsapp.com/send?phone=+573183544849&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20dar%20mi%20primer%20paso%20en%20Mundo%20Marcial.%20Estoy%20muy%20interesado(a)%20en%20comenzar%20y%20agradecer%C3%ADa%20que%20me%20compartieras%20todos%20los%20detalles.%20%C2%A1Gracias!"
                    class="about-link" target="_blank"><i class="fa-solid fa-message"></i>+57 3183544849 Maestro
                    Leonardo
                    Rojas, Bogotá.</a></p>
                <p class="card-text text-center"><a
                    href="https://api.whatsapp.com/send?phone=+573212119462&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20dar%20mi%20primer%20paso%20en%20Mundo%20Marcial.%20Estoy%20muy%20interesado(a)%20en%20comenzar%20y%20agradecer%C3%ADa%20que%20me%20compartieras%20todos%20los%20detalles.%20%C2%A1Gracias!"
                    class="about-link" target="_blank"><i class="fa-solid fa-message"></i>+57 3212119462 Maestro José
                    Noel
                    Rojas, Villavicencio.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>