<h2>Aprende con nosotros</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <div class="col" *ngFor="let card of cards">
    <div class="capsule-card" [ngClass]="{
        'expanded': activeCard === card.id,
        'blurred': hoveredCard !== null && hoveredCard !== card.id
      }" (mouseenter)="setHoveredCard(card.id)" (mouseleave)="setHoveredCard(null)">

      <img [src]="card.imageUrl" class="capsule-image" [alt]="card.title">

      <div class="capsule-info">
        <h5 class="capsule-name">{{ card.title }}</h5>

        <button class="btn-more-info" (click)="toggleCard(card.id)">
          <i class="fas {{ card.icon }}"></i> {{ card.buttonText}}
        </button>

        <div class="capsule-details" *ngIf="activeCard === card.id">
          <div [innerHTML]="card.details"></div>
        </div>
      </div>
    </div>
  </div>
</div>