h2 {
  font-size: 2.2rem;
  color: var(--color-primary);
  text-align: center;
  margin: 2rem;
  font-weight: 700;
}

.row {
  margin-inline: 10rem;
  margin-bottom: 2rem;
}

/* Tarjeta individual */
.capsule-card {
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease, filter 0.3s;
  height: 420px;
}

.capsule-card.expanded {
  height: auto;
}

.capsule-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.capsule-card.blurred {
  filter: blur(1.3px);
  pointer-events: none;
  transition: filter 0.5s;
}

.capsule-details {
  margin-top: 0.7rem;
  padding: 0.4rem;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  color: #232323;
  line-height: 1.5;
}

/* Imagen */
.capsule-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 2rem;
  padding: 0.8rem;
}

/* Informaci칩n textual */
.capsule-info {
  padding: 1.5rem;
}

.capsule-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #232323;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Bot칩n para ver m치s informaci칩n */
.btn-more-info {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.btn-more-info:hover {
  background-color: var(--color-primary-dark);
}

.btn-more-info i {
  font-size: 1rem;
}

@media (max-width: 768px) {

  .capsule-card {
    height: auto;
    padding: 0.2rem;
  }

  .capsule-image {
    height: 200px;
    object-fit: cover;
  }

  .capsule-name {
    font-size: 1rem;
  }

  .btn-more-info {
    font-size: 0.85rem;
  }

  .row {
    margin-inline: 3rem;
    margin-bottom: 1rem;
  }

  .capsule-details {
    margin-top: 1rem;
    padding: 0.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    color: #232323;
  }
}