<h2>¿Dónde estamos ubicados?</h2>
<section>
  <!-- Texto y mapas de ubicación -->
  <div class="map-container">
    <div class="about-text">
      <p class="about-description">
        Contamos con dos sedes en Bogotá y una en Villavicencio. Encuentra la ubicación de cada una a continuación:
      </p>
    </div>

    <!-- Contenedor de sedes -->
    <div class="about-locations">
      <!-- Sede Primavera -->
      <div class="location-card">
        <h3 class="location-title">Sede Primavera</h3>
        <p class="location-description">
          Carrera 41a #4-20 segundo piso, Bogotá.
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8877492709994!2d-74.11332942462836!3d4.614102995360573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f994a50d1a949%3A0x1eb5dd392a7fd827!2sTaekwondo%20Mundo%20Marcial!5e0!3m2!1ses-419!2sco!4v1749944989246!5m2!1ses-419!2sco"
          loading="lazy" class="location-map" allowfullscreen>
        </iframe>
      </div>
      <!-- Sede San José -->
      <div class="location-card">
        <h3 class="location-title">Sede San José S.O</h3>
        <p class="location-description">
          Calle 42 sur #8a-28, Bogotá.
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.578762683744!2d-74.08870218015501!3d4.547129456200412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa27801a9b08b%3A0xe250f5b92f0579d5!2sCl.%2042%20Sur%20%238A-28%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1751056926062!5m2!1ses-419!2sco"
          loading="lazy" class="location-map" allowfullscreen>
        </iframe>
      </div>
      <!-- Sede Villavicencio -->
      <div class="location-card">
        <h3 class="location-title">Sede Villavicencio</h3>
        <p class="location-description">
          Av Catama, Calle 35 #20-154 segundo piso, Villavicencio.
        </p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.0972079454733!2d-73.62325617956913!3d4.148199552850464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2ddb9e838993%3A0xb8376fb087f2db18!2sCl.%2035%20%23%2020-154%2C%20Villavicencio%2C%20Meta!5e0!3m2!1ses-419!2sco!4v1749945076729!5m2!1ses-419!2sco"
          loading="lazy" class="location-map" allowfullscreen>
        </iframe>
      </div>
    </div>
    <p>¿No ves bien los mapas? Intenta recargar la página.</p>
  </div>
</section>

<section>
  <!-- Instructores -->
  <h2>Conoce a nuestros instructores</h2>
  <table class="table-instructores table-bordered">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Grado/Cinturón</th>
        <th scope="col">Sede</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Maestro José Noel Rojas</th>
        <td data-label="Grado">Negro 7° dan</td>
        <td data-label="Sede">Villavicencio</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/MaestroJos%C3%A9_xzwvim.jpg"
            alt="Noel Rojas" width="100"></td>
      </tr>
      <tr>
        <th>Maestro Leonardo Rojas</th>
        <td data-label="Grado">Negro 6° dan</td>
        <td data-label="Sede">Bogotá</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/MaestroLeonardo_frflwq.jpg"
            alt="Leonardo Rojas" width="100"></td>
      </tr>
      <tr>
        <th>Carlos Romero</th>
        <td data-label="Grado">Negro 2° dan</td>
        <td data-label="Sede">Bogotá, Primavera</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/carlos_wmvapq.jpg" alt="Carlos Romero"
            width="100"></td>
      </tr>
      <tr>
        <th>Santiago Tibacuy</th>
        <td data-label="Grado">Negro 2° dan</td>
        <td data-label="Sede">Bogotá, Primavera</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/santiago_jvhn95.jpg"
            alt="Santiago Tibacuy" width="100"></td>
      </tr>
      <tr>
        <th>Diego Vaca</th>
        <td data-label="Grado">Negro 2° dan</td>
        <td data-label="Sede">Bogotá, San José</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Diego_kmzpgd.jpg" alt="Diego Vaca"
            width="100"></td>
      </tr>
      <tr>
        <th>Kevin Correal</th>
        <td data-label="Grado">Negro 2° dan</td>
        <td data-label="Sede">Bogotá, San José</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Kevin_utxdwu.jpg" alt="Kevin Correal"
            width="100"></td>
      </tr>
      <tr>
        <th>Giovanna Rincón</th>
        <td data-label="Grado">Negro 1° dan</td>
        <td data-label="Sede">Bogotá, San José</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Gio_tqoc7s.jpg" alt="Giovanna Rincon"
            width="100"></td>
      </tr>
      <tr>
        <th>Santiago Angarita</th>
        <td data-label="Grado">Negro 1° dan</td>
        <td data-label="Sede">Bogotá, Primavera</td>
        <td data-label="Imagen"><img
            src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/Angarita_nckzbs.jpg"
            alt="Santiago Angarita" width="100"></td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Horarios -->
<section>
  <h2>Horarios de clases</h2>
  <div class="horarios-container">
    <div class="horario-card">
      <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede Primavera, Bogotá</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Clase</th>
            <th scope="col">Día(s)</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Preinfantil (4 a 6 años)</th>
            <td data-label="Días">Lunes y Miércoles</td>
            <td data-label="Horario">4:30pm a 5:40pm</td>
          </tr>
          <tr>
            <th>Infanti-Precadetes (7 a 11 años)</th>
            <td data-label="Días">Lunes y Miércoles</td>
            <td data-label="Horario">6:00pm a 7:20pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Días">Lunes y Miércoles</td>
            <td data-label="Horario">7:30pm a 8:50pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Días">Martes y Viernes</td>
            <td data-label="Horario">7:30pm a 8:50pm</td>
          </tr>
          <tr>
            <th>Preinfantil (4 a 6 años)</th>
            <td data-label="Día">Sábado</td>
            <td data-label="Horario">9:00am a 10:00am</td>
          </tr>
          <tr>
            <th>Infanti-Precadetes (7 a 11 años)</th>
            <td data-label="Día">Sábado</td>
            <td data-label="Horario">10:00am a 11:20am</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Día">Domingo</td>
            <td data-label="Horario">10:00am a 11:30am</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="horario-card">
      <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede Villavicencio</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Clase</th>
            <th scope="col">Día(s)</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Preinfantil (4 a 6 años)</th>
            <td data-label="Días">Martes y Jueves</td>
            <td data-label="Horario">3:30pm a 4:30pm</td>
          </tr>
          <tr>
            <th>Infanti-Precadetes (7 a 11 años)</th>
            <td data-label="Días">Martes y Jueves</td>
            <td data-label="Horario">5:00pm a 6:00pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Días">Martes y Jueves</td>
            <td data-label="Horario">6:30pm a 7:30pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Días">Lunes, Miércoles y Viernes</td>
            <td data-label="Horario">5:00pm a 6:30pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Día">Sábados</td>
            <td data-label="Horario">11:00am a 12:30am</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="horario-card">
      <h3 class="horario-title"><span class="fa-regular fa-calendar"></span> Sede San José S.O, Bogotá</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Clase</th>
            <th scope="col">Día</th>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Infantil-Precadetes (4 a 11 años)</th>
            <td data-label="Día">Jueves</td>
            <td data-label="Horario">4:20pm a 5:40pm</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Día">Jueves</td>
            <td data-label="Horario">5:40pm a 7:00pm</td>
          </tr>
          <tr>
            <th>Infantil-Precadetes (4 a 11 años)</th>
            <td data-label="Día">Sábado</td>
            <td data-label="Horario">9:00am a 10:20am</td>
          </tr>
          <tr>
            <th>Cadetes-Mayores (12 años en adelante)</th>
            <td data-label="Día">Sábado</td>
            <td data-label="Horario">10:20am a 11:40am</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>