<section class="event-list-section">
    <div class="event-list-container">
    <h2>¡Participa con nosotros en eventos deportivos!</h2>
      <div class="event-grid">

      <!-- Tarjeta 1 -->
        <div class="event-card">
          <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/copaNavidad_ilo6yf.jpg" class="event-image" alt="Copa Navidad">
          <div class="event-info">
            <h5 class="event-name">¡Participa en la Copa Navidad 2025 en Bogotá!</h5>
              Te invitamos a vivir una experiencia deportiva llena de emoción, disciplina y espíritu marcial. Demuestra tus habilidades en Taekwondo y compite junto a atletas de diferentes lugares en uno de los eventos más esperados del año. <br>
              ¡No te pierdas esta gran oportunidad de cerrar el año con energía, pasión y espíritu competitivo! <hr>
              <span class="event-detail"><span class="fa-regular fa-calendar"></span>27-30 de noviembre de 2025</span><br>
              <span class="event-detail"><span class="fa-solid fa-location-dot"></span>Palacio de los deportes, Bogotá D.C</span>
          </div>
        </div>

      <!-- Tarjeta 2 -->
        <div class="event-card">
          <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/v1759015696/mexico_mb4tcp.jpg" class="event-image" alt="Open Puebla">
          <div class="event-info">
            <h5 class="event-name">¡Representa a Mundo Marcial en el Open de Puebla 2026!</h5>
              Te invitamos a vivir una experiencia deportiva internacional llena de emoción, aprendizaje y orgullo marcial. Demuestra tus habilidades en Taekwondo y compite con destacados atletas diferentes lugares en un evento que elevará tu nivel competitivo. <br>
              ¡Anímate a ser parte de esta gran experiencia y lleva con orgullo el espíritu de Mundo Marcial más allá de nuestras fronteras! <hr>
              <span class="event-detail"><span class="fa-regular fa-calendar"></span>Abril 2026</span><br>
              <span class="event-detail"><span class="fa-solid fa-location-dot"></span>Puebla, México</span>
          </div>
        </div>
      </div>
    </div>
</section>