<section class="event-list-section">
  <div class="event-list-container">
    <h2>¡Participa con nosotros en eventos deportivos!</h2>
    <div class="event-grid">
      <!-- Tarjeta 1 -->
      <div class="event-card">
          <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/logo_qvvtvi.png" class="event-image" alt="Copa">
          <div class="event-info">
            <h5 class="event-name">Copa Navidad</h5>
              <p>
                Te invitamos a representar a Mundo Marcial en la Copa Navidad 2025 en la ciudad de Bogotá. ¡No te pierdas la oportunidad de demostrar tu talento y destacar en la competencia!
              </p>
          </div>
        </div>
    </div>
  </div>
</section>