@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/scss/bootstrap.scss';

/* Sección principal  */
.event-list-section {
  padding: 2rem 1rem;
  background: var(--color-bg);
}

/* Encabezado de la sección */
.event-list-container {
  max-width: 1200px;
  margin: 0 auto;
}

.event-list-container h2 {
    font-size: 2.2rem;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
}

/* Contenedor de las cápsulas */
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 1rem;
  justify-items: center; // Centra las cards dentro de cada columna
}

/* Tarjeta individual */
.event-card {
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
  height: auto; 
  align-items: center;
}

.event-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Imagen */
.event-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* Información textual */
.event-info {
  padding: 1.5rem;
  text-align: center;
  line-height: 2;
}

.event-info span {
  color: var(--color-primary);
}

.event-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-danger);
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .event-grid {
    grid-template-columns: 1fr; // Mostrar una sola columna
    gap: 1rem; // Reducir espacio entre tarjetas
  }
  .event-card {
    height: auto; // Ajustar altura automáticamente
    padding: 0.5rem; // Reducir padding
  }
  .event-image {
    height: 250px; // Reducir altura de imagen
    object-fit: cover; // Ajustar imagen al contenedor
  }
  .event-name {
    font-size: 1.2rem; // Reducir tamaño de texto
  }
}