<section class="event-list-section">
    <div class="event-list-container">
    <h2>¡Participa con nosotros en eventos deportivos!</h2>
      <div class="event-grid">
      <!-- Tarjeta 1 -->
        <div class="event-card">
          <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/copaNavidad_ilo6yf.jpg" class="event-image" alt="Copa">
          <div class="event-info">
            <h5 class="event-name">Copa Navidad 2025</h5>
            <p>
              ¡Te invitamos a participar en la Copa Navidad 2025 en la ciudad de Bogotá! Una oportunidad tremendamente emocionante para demostrar tus habilidades en Taekwondo y competir con otros atletas. ¡No te lo pierdas! <br>
              <span class="fa-regular fa-calendar"></span> 27-30 de noviembre de 2025 <br>
              <span class="fa-solid fa-location-dot"></span> Palacio de lo deportes, Bogotá D.C
            </p>
          </div>
        </div>

      <!-- Tarjeta 2 -->
        <div class="event-card">
          <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/f_auto,q_auto/v1759015696/mexico_mb4tcp.jpg" class="event-image" alt="Copa">
          <div class="event-info">
            <h5 class="event-name">Open Puebla City</h5>
            <p>
              ¡Te invitamos a representar a Mundo Marcial en el Open de Puebla, México! Una oportunidad única para demostrar tus habilidades en Taekwondo y competir con destacados atletas en un evento de carácter internacional. ¡Anímate a vivir esta gran experiencia deportiva y representar con orgullo a nuestra academia! <br>
              <span class="fa-regular fa-calendar"></span> Abril 2026 <br>
              <span class="fa-solid fa-location-dot"></span> Puebla, Mexico
            </p>
          </div>
        </div>
      </div>
    </div>
</section>